pandas>=1.5.3,<2.0
tqdm>=4.64.0,<5.0
geopandas>=0.12.2,<1.0
matplotlib>=3.6.0,<4.0
numpy>=1.23.0,<2.0
plotly>=5.10.0,<6.0
shapely>=1.8.5,<2.0
seaborn>=0.12.0,<1.0
scipy>=1.9.3,<2.0
opencv-python-headless>=4.6.0,<5.0  
python-dateutil>=2.8.2,<3.0
scikit-learn>=1.1.2,<2.0             
scikit-image>=0.24.0,<0.25          
tensorflow>=2.10.0,<3.0
pysheds>=0.2.8,<1.0
